.container {
}

.infosContainer {
  display: flex;
  flex-direction: column;
}

.infosContainer > * + * {
  margin-top: 1rem;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.artistName {
  font-size: 20px;
}

.button {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
}
